Tuple

A tuple is an ordered, immutable collection of items.
    
* Ordered → elements have a position (index).
* Immutable → once created, elements cannot be changed.
* Allows duplicates → same value can appear multiple times.

Allows multiple types → int, float, string, list, etc.

In [1]:
t = (1, 2, 3)
t

(1, 2, 3)

In [2]:
t = 1, 2, 3
t

(1, 2, 3)

t = (5,) # single element need comma
t

In [3]:
t = (5)   # just integer
t

5

In [5]:
t = (1, 2, 3)  
t[0]

1

In [6]:
t[-1]

3

In [ ]:
Tuple operation

Concatenation

In [7]:
t1 = (1, 2)
t2 = (3, 4)
t3 = t1 + t2  
t3

(1, 2, 3, 4)

Repitation

In [8]:
t = (1, 2) * 3 
t

(1, 2, 1, 2, 1, 2)

In [9]:
2 in (1, 2, 3)  # membership

True

Tuple is immutable

In [ ]:
t = (1, 2, 3)
t[0] = 10  # Error

If tuple contine list it can muttable

In [ ]:
t = (1, [2,3])
t[1][0] = 99  # works, list inside tuple can change

Tuple Functions

* len(t) → number of elements
* max(t) → largest element
* min(t) → smallest element
* sum(t) → sum of elements
* t.index(value) → first index of value
* t.count(value) → number of occurrences

t = 1, 2, 3 #packing
a, b, c = (1, 2, 3 ) #unpacking

In [10]:
a, *b, c = (1,2,3,4,5)

In [11]:
print(a , b ,c)

1 [2, 3, 4] 5

Tuples can contain tuples or other collections:
t = (1, (2, 3), [4,5])
Access nested elements:
print(t[1][0])  # 2

-> Tuples are faster and lighter than lists.
-> Immutable → safer for fixed data.

In [ ]:
len(t) == 0  # to check tuple is empty

In [12]:
colors = ('red', 'green', 'blue', 'yellow', 'green', 'blue')
first_green = colors.index('green')
print(colors.index('green' , first_green + 1 ))
print(colors.index('green' , 3 , 6))

4
4

In [14]:
print(sorted(colors, key = len))  # sort based on length by using custom key

['red', 'blue', 'blue', 'green', 'green', 'yellow']

In [15]:
rev = colors[::-1] # to reverese 
rev

('blue', 'green', 'yellow', 'blue', 'green', 'red')

upack nested tuple

In [19]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
(a ,b) , (c , d) , (e , f ) = nested_tuple

In [17]:
a

1

In [21]:
a ,b,c,d,e,f

(1, 2, 3, 4, 5, 6)

 tuple[:] returns a shallow copy of the entire tuple

In [22]:
my_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
print(my_tuple[::2])

(0, 2, 4, 6, 8, 10, 12)

In [24]:
nth = tuple(my_tuple[i] for i in range(0, len(my_tuple) , 3))
nth

(0, 3, 6, 9, 12)

In [25]:
row = ('X',) * 5
grid = (row,) * 3
print(f"\n3x5 grid: {grid}")

3x5 grid: (('X', 'X', 'X', 'X', 'X'), ('X', 'X', 'X', 'X', 'X'), ('X', 'X', 'X', 'X', 'X'))

In [28]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tuple2 = ('a', 'b', 'c', 'd', 'e')

combined = tuple1[:3] + tuple2[:-2]
combined

(1, 2, 3, 'a', 'b', 'c')

In [33]:
mixed_tuple = tuple1[::2] + tuple2[1::2]
mixed_tuple

(1, 3, 5, 7, 9, 'b', 'd')