A set -> is an unordered collection of unique, immutable elements. Sets are:

* Mutable - you can add/remove elements
* Unordered - elements have no index/position
* Unique - no duplicate elements allowed
* Elements must be hashable (immutable types like strings, numbers, tuples)
set is important for
 -> membership testing
 -> removing duplicate

Creating empty set

In [3]:
x = set() # x = {} will create dictionary not set 
x = {1,3,5,6}
print(x)

{1, 3, 5, 6}

Duplicate will removed

In [4]:
x = {1,3,5,5,6}
print(x)

{1, 3, 5, 6}

In [5]:
x.add(7)
x

{1, 3, 5, 6, 7}

In [6]:
x.remove(3)   # error if not found
x.discard(3)  # no error if missing
x.pop()       # removes random item
x.clear()     # empties the set
x

set()

SET OPERATION

In [17]:
set_a = {1,4,2,6,7}
set_b = {8,3,9,10,4,6}
set_a | set_b   #  {1, 2, 3, 4, 6, 7, 8, 9, 10}
set_a & set_b   #  {4, 6}
set_a - set_b   #  {1, 2, 7}  set difference set in once set but not in other 
set_a ^ set_b     # {1, 2, 3, 7, 8, 9, 10} symetric difference

{1, 2, 3, 7, 8, 9, 10}

Multiple set intersection 
set1 & set2 & set3
# OR
set1.intersection(set2, set3)

In [15]:
add_multiple = {4,5,6}
add_multiple.update([7,8,9])
add_multiple

{4, 5, 6, 7, 8, 9}

.update() accepts lists, tuples, sets, strings, etc.

Pop do remove and return removed element from set

In [18]:
set_a = {1,4,2,6,7}
set_a.pop()

1

In [25]:
set_a = {1,4,2}
set_b = {1,4,2,5,6}
set_a.issubset(set_b)  # subset 
set_a <= set_b         # subset
set_a < set_b          # to check proper sub set

True

Converting a list to a set useful To remove duplicates and perform fast membership checks.
numbers = list(set_a)

set can't include list because list is mutable , set element must be immutable

Removing multiple item from set

In [31]:
set_b = {1,4,2,5,6}
set_b -= {1,2,5}
set_b

{4, 6}

In [33]:
set_b = {1,4,2,5,6}
set_b.difference_update({1,2,5})
set_b

{4, 6}

Iterating and removing directly causes RuntimeError. so how to bypass these issue

In [35]:
set_a = {1,4,2,5,6}
for x in set_a.copy():
    if x < 5:
        set_a.remove(x)
set_a

{5, 6}

Sets are mutable â†’ cannot be elements of another set.

to check to set are equal use set1 == set2

In [ ]:
Set comprehension

In [41]:
squared = {x*x for x in range(5)}
filter = {x for x in range(10) if x%2== 0}
filter   # {0, 2, 4, 6, 8}
squared  # {0, 1, 4, 9, 16}

{0, 1, 4, 9, 16}